[Unit]
Description=Mainaren daemona
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=DarthDorron
ExecStart=/home/DarthDorron/Desktop/TFG/Definitiboa/main

[Install]
WantedBy=multi-user.target 
